<p-carousel [value]="movieList" [numVisible]="1" [numScroll]="1" [circular]="true">
    <ng-template pTemplate="header">
        <p class="text-5xl">{{ header }}</p>
    </ng-template>
    <ng-template let-movie pTemplate="item">
        <div class="flex align-item-center justify-content-between px-2 cursor-pointer" (click)="showMovieDetails(movie.id)">
            <div class="flex flex-column align-item-center justify-content-center px-2">
                <p class="text-4xl mb-2">
                    {{movie.title}}
                </p>
                <p class="text-sm line-height-2 plot mb-2">
                    {{movie.fullplot}}
                </p>
                <div class="mb-2">
                    <app-language-list [languages]="movie.languages"></app-language-list>
                </div>
                <!-- <div class="flex align-item-center justify-content-start">
                  <button pButton (click)="showMovieDetails(movie.id)">Details</button>
                </div> -->
            </div>
            <div>
                <div class="p-mb-3">
                    <img class="h-20rem" [src]="movie.poster" [alt]="movie.title" />
                </div>
            </div>
        </div>

    </ng-template>
</p-carousel>
