/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 102vh;
  width: 100vw;
  overflow: hidden;
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: var(--surface-a);
  font-family: var(--font-family);
  color: var(--text-color);
}
