.movies-banner {
  width: 90%;
  height: 19em;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 2em;

  .carsoul-image {
    height: 70px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      border-radius: 20px;
    }
  }
  .movie-title {
    font-size: 3.125em;
    color: white;
  }

  .rating {
    font-size: 1.5em;
    color: white;
    font-weight: bold;
  }

  .watch-button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #e50914;
    border-radius: 20px;
    color: white;
    font-size: 1em;
  }

  .add-to-favorite {
    color: white;
    background-color: #303030;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    .material-icons {
      font-size: 1em;
    }
  }
}


@keyframes titleAnimation {

  0% {
    opacity: 0;
    left: -10%;
  }

  100% {
    opacity: 1;
    left: 0;
  }

}

@keyframes ratingAnimation {
  0% {
    opacity: 0;
    right: -10%;
  }

  100% {
    opacity: 1;
    right: 0;
  } 
}