.user-list {
  padding: 2em 0;
  height: 100%;
  position: relative;
  background-color: #efefef;
  .sidenav-button {
    cursor: pointer;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
}
