.user-list {
  padding: 2em 1em;
  height: 100%;
  position: relative;
  background-color: #FEFEFE;
  .sidenav-button {
    cursor: pointer;
    background-color: #FEFEFE;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
  .add-user {
    height: 40px;
    width: 40px;
    background-color: #E6452F;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #FEFEFE;
  }
}
