<div fxLayout="column" fxLayoutAlign="end center" class="user-list">

  <div fxFlex fxLayout="column" fxLayoutGap="2em" fxLayoutAlign="center center">
    <div class="add-user">
      <span class="material-icons">
        add
      </span>
    </div>
    <app-user-avatar avatarSize="40px" [isUserStatusEnabled]="true"></app-user-avatar>
    <app-user-avatar avatarSize="40px" [isUserStatusEnabled]="true"></app-user-avatar>
    <app-user-avatar avatarSize="40px"></app-user-avatar>
    <app-user-avatar avatarSize="40px"></app-user-avatar>
  </div>

  <div>
    <div class="add-user" (click)="toggleSideNav()">
      <span class="material-icons">
        {{ sideNavBoolState ? 'chevron_right':'chevron_left' }}
      </span>
    </div>
  </div>
</div>
