<div class="h-screen flex align-items-center justify-content-center sidenav" >
    <div class="gird w-full">
        <div class="col-12 flex justify-content-center align-items-center">
            <button pButton pRipple type="button" icon="pi pi-search" class="p-button-rounded"></button>
        </div>
        <div class="col-12 flex justify-content-center align-items-center">
            <button pButton pRipple type="button" icon="pi pi-home" class="p-button-rounded"></button>
        </div>
        <div class="col-12 flex justify-content-center align-items-center">
            <button pButton pRipple type="button" icon="pi pi-desktop" class="p-button-rounded"></button>
        </div>
        <div class="col-12 flex justify-content-center align-items-center">
            <button pButton pRipple type="button" icon="pi pi-calendar" class="p-button-rounded"></button>
        </div>
        <div class="col-12 flex justify-content-center align-items-center">
            <button pButton pRipple type="button" icon="pi pi-list" class="p-button-rounded"></button>
        </div>
        <div class="col-12 flex justify-content-center align-items-center">
            <button pButton pRipple type="button" icon="pi pi-cog" class="p-button-rounded" (click)="changeTheme()"></button>
        </div>
    </div>
</div>