@import "./themes/variables";

// Theme which need to be applied globally
.application {
  ::ng-deep {
    .p-button {
      background-color: $primary-color;
      border: 1px solid $primary-color;
    }

    .p-button:focus {
      box-shadow: 0 0 0 0.2rem $primary-light-color;
    }

    .p-progressbar .p-progressbar-value {
      background: $primary-color;
    }

    .p-carousel
      .p-carousel-indicators
      .p-carousel-indicator.p-highlight
      button {
      background: $primary-color;
    }

    .p-link:focus {
      box-shadow: 0 0 0 0.2rem $primary-light-color;
    }

    .p-progress-spinner-circle {
      animation: grid-progress-spinner-dash 1.5s ease-in-out infinite,
        grid-progress-spinner-color 6s ease-in-out infinite;
    }

    .p-selectbutton .p-button {
      background: #ffffff;
      border: 1px solid #ced4da;
      color: #495057;
      transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        box-shadow 0.2s;

      &:not(.p-disabled):not(.p-highlight):hover {
        background: #e9ecef;
        border-color: #ced4da;
        color: #495057;
      }

      &.p-highlight {
        background-color: $primary-color;
        border-color: $primary-color;
        color: #ffffff;
      }
    }
  }
}

@keyframes grid-progress-spinner-color {
  100%,
  0% {
    stroke: $primary-color;
  }
  40% {
    stroke: $primary-color;
  }
  66% {
    stroke: $primary-color;
  }
  80%,
  90% {
    stroke: $primary-color;
  }
}

@keyframes grid-progress-spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
