@import "./themes/variables";

// Theme which need to be applied globally
.application {
  ::ng-deep {
    .p-button {
      background-color: $primary-color;
      border: 1px solid $primary-color;
    }

    .p-button:focus {
      box-shadow: 0 0 0 0.2rem $primary-light-color;
    }

    .p-progressbar .p-progressbar-value {
        background: $primary-color;
    }
    .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
      background: $primary-color;
    }
    .p-link:focus {
      box-shadow: 0 0 0 0.2rem $primary-light-color;
    }
  }
}
