<div class="p-3 h-screen overflow-x-hidden overflow-y-auto" infinite-scroll [infiniteScrollDistance]="infiniteScrollDistance"
  (scrolled)="scrolled()" [scrollWindow]="scrollWindow" (scroll) = "onComponentScroll($event)">
  <div class="fadeinright animation-duration-1000">
    <app-movie-carousel [movieList]="movieCarouselList" header="Trending Movies"></app-movie-carousel>
  </div>
  <div>
    <app-movies-grid [movieList]="movieGridList" [fetchingMovie]="fetchingGridData"></app-movies-grid>
  </div>
  <button *ngIf="showScrollToTopButton" pButton pRipple type="button" icon="pi pi-arrow-up" class="p-button-rounded fixed scroll-to-top" (click)="scrollToTop()"></button>
</div>
