.red-box {
  background-color: red;
}

.green-box {
  background-color: green;
}

.blue-box {
  background-color: blue;
}

.container{
  height: 100%;
}

.right-sidenav {
  transition: max-width 1s ease-in-out;
}
