<div class="flex flex-column">
  <p class="text-2xl my-2">SignUp</p>
  <form [formGroup]="signUpForm" (ngSubmit)="submitForm()">
    <app-custom-input
      [control]="signUpForm.controls['username']"
      controlName="username"
    ></app-custom-input>
    <app-custom-input
      [control]="signUpForm.controls['email']"
      controlName="email"
    ></app-custom-input>
    <app-custom-input
      inputType="password"
      [control]="signUpForm.controls['password']"
      controlName="password"
    ></app-custom-input>
    <app-custom-input
      inputType="password"psignup
      [control]="signUpForm.controls['rePassword']"
      controlName="rePassword"
    ></app-custom-input>
    <div class="flex flex-row align-content-center justify-content-end">
      <button type="submit" pButton [disabled]="signUpForm.invalid">
        SignUp
      </button>
      <button (click)="submitForm()">
        error
      </button>
    </div>
  </form>
</div>
